@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
    var count = 0;
}

<div class="row">
    @foreach (var product in Model)

    {
        if (count != 0 && count % 3 == 0)
        {
        @:</div>
        @:<div class="row">
        }
        <partial name="_ProductSummary" model="@product"/>
        count++;
    }
</div>
          
          <div class="pagination">
              @for (int i = 0; i < length; i++)
              {
                  <a asp-controller="Home" asp-action="Index" asp-route-page="@i">@i</a>
              }
          </div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('.sepet').on('click', function () {
                let name = $(this).data('name');
                alertify.success(name+' Sepete Eklendi');

            })

        })
    </script>
}